html {
  -webkit-overflow-scrolling: touch; 
  min-height: 100%;
}

 * {
    margin: 0;
    padding: 0;
   }

body {
   font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;


min-width: 1024px;
min-height: 100%;
margin: 0 auto;
position: relative;
overflow-x: auto;
overflow-y: scroll;


}

img{
	display: block;
    margin-left: auto;
    margin-right: auto;
   
    padding-bottom: 10px;
    padding-top: 10px;
}

li {
    list-style-type: none; 
    margin-left: 0;
    padding-left: 0; 
   }

   ul {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; 
    padding-top:0;
   }

 a {
    text-decoration: none;
     color: #557478;
   } 

a:hover { 
    color: #8BB9C5;
   } 
   
   p {
    margin: 0;
    padding: 0;
   }

.header {
    width: 100%;
overflow: hidden;
    top: 0px;
  
}

.header_content {
    position: relative;
   margin: 10px auto;
    width: 980px;
  height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);

    
}

.banner {
    width: 100%;
    height: 520px; 
        background: url(img/4.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
cursor: pointer;
}

.baner_text {
    
margin: 150px auto;
    width: 980px;
   overflow: hidden;
font-size: 50px;
    color: rgba(255, 255, 255, 0.84);
    text-align: left;
    
}